@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

.font-sty{
    font-family: "Playfair Display", serif;
}
.image-area img{
    width: 100%;
    background-repeat: no-repeat;
}
.image-area{
    display: flex;
    justify-content: center;
    align-items: center;
}